

<h1>All kittens</h1>
<%@kittens.each do |kitten|%>
	<h4><%=kitten.name%>, age: <%= kitten.age%></h4>
	<p><%=link_to 'delete', kitten_path(kitten.id), method: :delete, data: {confirm: "You sure?"}%></p>
<%end%>